@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
        body{
            background-image: url(../style/img/bg.png);
            color-scheme: dark;
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #000000;
        }
        .h {
            color: white;
            position: relative;
            left: 30vw;
        }
        .box {
            
            display: flex;
            justify-content: center;
            height: 80vh;
        }
        .text {
            background: #231f1f;
            color: white;
            border-radius: 15px;
            overflow-y:scroll;
            scrollbar-width: none;
            width: 40vw;
            padding: 4vh 5vw;
            height: 65vh;
        }
        .form{
            display: flex;
            justify-content: center;
            width: 100vw;
            position: fixed;
            bottom: 5vh;
        }
        .user, .sys{
            font-family: "Lato", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 2.4vh;
        }.str{
            font-size: 2.3vh;

        }
        body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        color: #000000; 
        }

    .logo {
        width:12vw;
        position: absolute;
        top: -5vh;
        left: 25px;
    }

    /* Style links */
    a {
        color: #4F80FF;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .button {
        background-color: #4F80FF; 
        color: #ffffff;
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px;
        cursor: pointer; 
    }
    .button:hover {
        background-color: #3c6bdb;
    }