<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Growwus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.css') }}">
</head>
<body>
    <h1 style="padding: 2vh 5vw; width: 50vw;" class="h">Growwus - Your producitvity AI</h1>
    <img src="{{ url_for('static', filename='/style/img/img.png') }}" class="logo" alt="Your Logo" class="logo">
    <div class="box">
        <div class="text">
            {% for element in messages%}
                {% if element['role'] == "user" %}
                <strong class="str">You:  </strong><p class="user">{{element['content']}}</p>
                {% endif %}
                {% if element['role'] == "system" %}
                <strong class="str">Growwus:  </strong><p class="sys">{{element['content']}}</p><br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <form method="POST" class="form" id="form">
        <input type="text" name="user_input" placeholder="   Ask something..." style="width: 40vw;height: 4.5vh;border-radius: 10px;border: rgb(155, 155, 155);"> &nbsp;
        <input type="submit" value="Send" style="width: 4vw;border-radius: 5px;border: rgb(155, 155, 155);">
    </form>

    <script>
        function setf(){
            var num = Math.floor(Math.random()*9000)+1000;
            document.getElementById("form").action = "/ask/"+num;
        }
        window.onload = function(){
                setf();
            };
    </script>

</body>

</html>
